@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
}

.tox-notifications-container {
  display: none !important;
}

.tox.tox-tinymce {
  margin-top: 16px !important;
}

.tox-statusbar__branding {
  display: none !important;
}

html,
body {
  font-family: "Ubuntu";
}

.code-editor {
  margin-top: 20px;
}
